.gpt-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.gpt-features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    /* margin-right: 5rem; */
    max-width: 600px;
} 
.gpt-features-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
}
.gpt-features-heading p{
    font-family: var(--font-family);
    font-weight: 600;
    color: white;
    margin-top: 2rem;
}
.gpt-features-container{
    display: flex;
    flex: 1;
    /* flex-direction: row;
    width: 250px; */
    /* max-width: 600px; */

}